<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>zero to one</mat-card-title>
            <mat-card-subtitle>peter thiel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/zero-to-one.jpg" alt="zero_to_one book">
        <mat-card-content>
            <p>
                This book narrates from Peter Thiel's perspective how startups work or should work,
                going from the creation of PayPal to his investment in Facebook and his rivalry and
                subsequent union with Elon Musk to survive the fall of the .com
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="text">
                The Coder Habits
            </mat-card-title>
            <mat-card-subtitle>Rafa G. Blanes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/the-coder-habits-main-cover-320.jpg"
         alt="the-coder-habits-main-cover-">
         <mat-card-content>
             <p>
                It is a book that explains very well the bad habits of bad programmers and says that it is
                not bad if we have some of these habits, what if it is bad is that we do nothing to fix this,
                it talks about smelt code, refactoring and what important that are the tests to avoid
                accumulating the so-called technical debts.
            </p>
         </mat-card-content>
    </mat-card>
</div>