<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Angular Wiki</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/angular-wiki.png" alt="angular-wiki">
        <mat-card-content>
            <p>
                It is a page with a little more details in certain things of angular, such as the names of the 900 icons that it contains, among other things.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Angular Page</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/angular.png" alt="angular-page">
        <mat-card-content>
            <p>
                is the original angular page there is not much to say you know what I mean.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>TinyPNG</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/Tiny-png.png" alt="TinyPNG-page">
        <mat-card-content>
            <p>
                Many developers ignore the importance of the images on your website being light as this is an excellent page for image understanding.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>ANDI</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/ANDI.png" alt="ANDI-page">
        <mat-card-content>
            <p>
                ANDI is an excellent tool for the accessibility of a page.If a person with a certain disability enters, they will tell you that it improves it.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Lighthouse</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/lighthouse.png" alt="lighthouse-page">
        <mat-card-content>
            <p>
                It is one of my favorite tools if not the most this tells you the performance of your page, the loading speed and the CEO of it.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>ASlint</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/ASlint.png" alt="ASlint-page">
        <mat-card-content>
            <p>
                It is a test page for your code, it is the base technology used in gn lint.
            </p>
        </mat-card-content>
    </mat-card>
</div>