<mat-card class="card">
  <form [formGroup]="contact" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Enter your name or enterpice</mat-label>
      <input
        matInput
        placeholder="Bill Gates-mircrosoft"
        formControlName="name"
        required
      />
      <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field class="text" appearance="outline" color="accent">
      <mat-label>Write your message</mat-label>
      <input
        matInput
        type="text"
        placeholder="I want to talk to you"
        formControlName="text"
        required
      />
    </mat-form-field>

    <button mat-flat-button color="accent" [disabled]="contact.invalid">Send message</button>
  </form>
</mat-card>
