<footer>
    <a href="https://www.instagram.com/ralphortega75/" target="_blank" rel="noopener noreferrer">Intagram</a>
    <img src="../../assets/icon/instagram.svg" alt="instagram logo"><br>
    <a href="https://www.facebook.com/ralph.ortega.3" target="_blank" rel="noopener noreferrer">Facebook</a>
    <img src="../../assets/icon/facebook.svg" alt="facebook logo"><br>
    <a href="https://www.linkedin.com/in/ralph-ortega-39831a1a6/" target="_blank" rel="noopener noreferrer">Linkedin</a>
    <img src="../../assets/icon/linkedin.svg" alt="linkedin logo">
</footer>