<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>HTML 5</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/tecnologies/html5.png" alt="html5-img">
        <mat-card-content>
            <p>
                technology to structure the content of a web page.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>CSS 3</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/tecnologies/CSS3.png" alt="CSS3-img" class="image">
        <mat-card-content>
            <p>
                Cascading style sheet in its third version is designed to shape
                and style the tags created with HTML.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>JavaScript</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/tecnologies/js.png" alt="JavaScript-image">
        <mat-card-content>
            <p>
                It is an object-oriented interpreting language that serves to give our websites
                a certain dynamism.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>Angular</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="../../assets/images/tecnologies/Angular.png" alt="Angular-log">
        <mat-card-content>
            <p>
                Angular is a framework to create PWA with Html, Css and JavaScritp technologies but now it also 
                integrates an extension of JavaScript called TypeScript.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>Node JS</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="../../assets/images/tecnologies/Node.svg" alt="node-log">
        <mat-card-content>
            <p>
                to try to simplify things so that you can now use JavaScript on the server side nodejs 
                is a technology that complements the full-stack
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-subtitle>Express</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="../../assets/images/tecnologies/express.png" alt="express-log">
        <mat-card-content>
            <p>
                express was born as an aid to build backend architectures much faster and more secure 
                without having to write so many lines of code.
            </p>
        </mat-card-content>
    </mat-card>
</div>