<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="title-card">web posible tienda de gatos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/gif/gatos.gif" alt="Imagen web gatos">
        <mat-card-actions>
            <a mat-flat-button href="https://github.com/ventusfire/gatos-tienda" target="_blank" color="accent">Ir a gitHub</a>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="title-card">web para criptomonedas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/gif/bitpapa.gif" alt="Imagen web criptomonedas">
        <mat-card-actions>
            <a mat-flat-button href="https://github.com/ventusfire/mobile-first" target="_blank" color="accent">Ir a gitHub</a>
        </mat-card-actions>
    </mat-card>
</div>